<<<<<<< HEAD
﻿@model Web_Application.Models.UsersViewModel
=======
@model Web_Application.Models.UsersViewModel
>>>>>>> b94ec96b818d7bcee72efdda4c48f7a2af55750e

<h2>Create New User</h2>

<form asp-controller="UserManagement" asp-action="Create" method="post">
    <div class="form-group">
        <label for="Username">Username</label>
        <input type="text" class="form-control" id="Username" name="Username" value="@Model.Username" required>
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" required>
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <div class="input-group">
            <input type="password" class="form-control" id="Password" name="Password" required>
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="far fa-eye" id="togglePassword"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="Role">Role</label>
        <select class="form-control" id="Role" name="SelectedRole" required>
            <option value="User">User</option>
            <option value="Admin">Admin</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Create User</button>
</form>

@section Scripts {
    <script>
        document.getElementById("togglePassword").addEventListener("click", function () {
            var passwordField = document.getElementById("Password");
            if (passwordField.type === "password") {
                passwordField.type = "text";
            } else {
                passwordField.type = "password";
            }
        });
    </script>
}
