@model Web_Application.Models.UsersViewModel

<h2>User Details</h2>

<div>
    <h4>Username: @Model.Username</h4>
    <p>Email: @Model.Email</p>
    <p>Role: @Model.Role</p>
</div>

<a asp-controller="UserManagement" asp-action="Index" class="btn btn-secondary">Back to List</a>
